[submodule "nymph-game-one"]
	path = nymph-game-one
	url = https://github.com/sainteos/nymph-game-one.git
[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "ext/premake-export-compile-commands"]
	path = ext/premake-export-compile-commands
	url = https://github.com/tarruda/premake-export-compile-commands.git
